<h2>LessonPouch :: Test User :: Sign in</h2><br/>
Welcome to LessonPouch testing environment!<br/>
Just sign in to try out LessonPouch!<br/><br/>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label "Test User Email" %>
  <%= f.email_field :email %></div>

  <div><%= f.label "Test User Password" %>
  <%= f.password_field :password %></div>

  <div><%= f.submit "Sign in" %></div>
<% end %>