<div id="message"></div>
<br/>
<br/>
<%= link_to("Manage Account Settings", edit_user_registration_path) %>
<br/>
<br/>
<br/>
<h3>My Favorites</h3>
<div id="favorites">
  <% unless @favorite_resources.empty? %>
    <table>
      <tr id="favorite_table_header_row">
        <th>Name</th>
        <th></th>
      </tr>
      <% @favorite_resources.each do |favorite_resource| %>
        <tr class="favorite_table_row" id="remove_favorite_<%= favorite_resource.id %>">
          <td><%= link_to favorite_resource.title, favorite_resource %></th>
          <td>
              <%= link_to "Remove", {:controller => 'favorites', :action => 'destroy', :format => :js, :id => favorite_resource.id}, :remote => true %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <span><%= t('favorites.messages.none') %></span>
  <% end %>
</div>
<br/>
<br/><h3>Uploaded Resources</h3>
<%= render @resources %>
<br/>
<br/>