<% if !@errors.nil? && !@errors.empty? %>
  <% @errors.each do |error| %>
    <div><%= error %></div>
  <% end %>
<% end %>
<%= form_tag('/send_contact_mail', :method => "get") do %>
  <%= label_tag(:name, "Name: (optional)") %>
  <%= text_field_tag(:name) %><br/>
  <%= label_tag(:email, "Email: (optional)") %>
  <%= text_field_tag(:email) %><br/>
  <%= label_tag(:subject, "Subject: ") %>
  <%= select_tag(:subject, options_for_select(['General','Help','Feedback','Other'])) %><br/>
  <%= label_tag(:message, "Message: ") %>
  <%= text_area_tag(:message) %><br/>
  <%= submit_tag("Contact Us") %><br/>
<% end %>