<%= javascript_include_tag "resources/form" %>

<%= nested_form_for @resource, :html=>{:multipart => true } do |f| %>
  <p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
  </p>
  <p>
  <%= f.label :topic_tokens, "Tags" %><br />
  <%= f.text_field :topic_tokens %>
  <span><i>Example: 7th Grade Algebra Square Root</i></span>
  </p>
  <%= f.fields_for :attachments do |attachment_form|  %>
    <p>
    <%= attachment_form.label :file %>
    <% if !attachment_form.object.file.path.blank? %>
      <% #file_info = get_cache_file_info attachment_form.object.file.path %>
      <% #puts "\n\npath:#{attachment_form.object.file.path}\n" %>
      <% file_info = get_file_info(attachment_form.object.file.path) %>
      <% #puts "folder:#{file_info[:folder]}" %>
      <% #puts "folder:#{attachment_form.object.file.path.blank?}" %>
      <% #image_tag(File.join('/tmp/cache/', file_info[:folder]))%>
      <% #attachment_form.file_field :file, :value => "#{File.join('/tmp/cache/', file_info[:folder], '/',attachment_form.object.file.identifier)}" %>
      <%= link_to attachment_form.object.file.identifier, "#{File.join('/tmp/cache/', file_info[:folder], '/',attachment_form.object.file.identifier)}" %>
    <% else %>
      <%= attachment_form.file_field :file %>
    <% end %>
    <%= attachment_form.hidden_field :file_cache %>
    <%= attachment_form.link_to_remove "Remove this attachment" %>
    </p>
  <% end %>
  <%= f.link_to_add "Add attachment", :attachments %>
  <br/>
  <br/>
  <%= f.check_box :agreed%>
  <span>I have read and agreed to the LessonPouch <%= link_to "Terms of Use", terms_path %>.  I understand and promise not to upload any content that deson't belong to me or infringes on the rights of others.</span>
  <p><%= f.submit %></p>
 <% end %>