<h1>Editing resource</h1>

<ul>
<% @resource.errors.each do |key, error| %>
  <li><%= error %></li>
<% end %>

</ul>
<%= render 'form_edit' %>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %> |
<%= link_to 'Delete Resource', resource_path(@resource.id), :confirm => 'Are you sure?', :method => :delete %>
