<%= form_tag resources_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<div id="facets">
  <h3>Topics</h3>
  <ul>
    <% @resources.facets['resource_topics']['terms'].each do |facet| %>
      <li>
        <%= link_to_unless_current Topic.find_by_name(facet['term']).name, params.merge(resource_topics: facet['term']) %>
        <% if params[:resource_topics] == facet['term'].to_s %>
          (<%= link_to "remove", resource_topics: nil %>)
        <% else %>
          (<%= facet['count'] %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<h1>Listing resources</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Content</th>
    <th>Tags</th>
    <th>Author</th>
    <th>Attachments</th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= link_to(resource.title, resource) %></td>
    <td><%= resource.description %></td>
    <td><%= resource.extracted_content %></td>
    <td>
      <% unless resource.search_topic_tags.empty? %>
        <% resource.search_topic_tags.each do |topic| %>
          <span><%= topic %></span>&nbsp;
        <% end %>
      <% end %>
    </td>
    <td><%= resource.author %></td>
    <td><%= resource.attachment_count %></td>
  </tr>
<% end %>
</table>


<%= will_paginate @resources %>