
<p>
  <b>Title:</b>
  <%= @resource.title %>
</p>

<p>
  <b>Description:</b>
  <%= @resource.description %>
</p>

<ul>
  <% for attachment in @resource.attachments %>
    <li>
    <%= link_to("Download", "/uploads/#{attachment.id}/#{File.basename(attachment.file.url)}") %>
    <% #link_to("Download", attachment.file_url) %>
    </li>
  <% end %>
</ul>

<h3>Topics</h3>
<ul>
  <% for topic in @resource.topics %>
    <li>
      <%= topic.name %>
    </li>
  <% end %>
</ul>

<% if current_user_owns_resource?(@resource) %>
  <%= link_to 'Edit', edit_resource_path(@resource) %> |
<% end %>
<%= link_to 'Back', resources_path %>
